<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xmlns:si="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://jax-ws.dev.java.net/spring/core https://jax-ws.dev.java.net/spring/core.xsd
       http://jax-ws.dev.java.net/spring/servlet https://jax-ws.dev.java.net/spring/servlet.xsd
       http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-1.0.xsd"
       >
       
  <bean class="ch.i4ds.helio.ApplicationContextProvider" />
  
  <!--
  	hard-coded workflows
  -->
  <wss:binding url="/services/workflows">
  	<wss:service>
			<ws:service bean="#Workflows" />
		</wss:service>
	</wss:binding>
  <bean id="Workflows" class="ch.i4ds.helio.workflows.Workflows">
  	<!--<property name="queryService" ref="QueryService" />-->
  </bean>
</beans>
