<?xml version="1.0" encoding="UTF-8"?>
<!-- glassfish doesn't like xsd's over https. don't change http:// to https:// -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xmlns:si="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://jax-ws.dev.java.net/spring/core http://jax-ws.dev.java.net/spring/core.xsd
       http://jax-ws.dev.java.net/spring/servlet http://jax-ws.dev.java.net/spring/servlet.xsd
       http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-1.0.xsd"
       >
       
  <bean class="ch.i4ds.helio.ApplicationContextProvider" />
  
  
  <wss:binding url="/services/hessi">
  	<wss:service>
			<ws:service bean="#HessiService" />
		</wss:service>
	</wss:binding>
  <bean id="HessiService" class="ch.i4ds.helio.dpas.HessiService" />
  
  
  <wss:binding url="/services/executeWF">
  	<wss:service>
			<ws:service bean="#TavernaExecutor" />
		</wss:service>
	</wss:binding>
  <bean id="TavernaExecutor" class="ch.i4ds.helio.core.TavernaExecutor" />
  
</beans>
