<?xml version="1.0" encoding="UTF-8"?>
<!-- glassfish doesn't like xsd's over https. don't change http:// to https:// -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xmlns:si="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://jax-ws.dev.java.net/spring/core http://jax-ws.dev.java.net/spring/core.xsd
       http://jax-ws.dev.java.net/spring/servlet http://jax-ws.dev.java.net/spring/servlet.xsd
       http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-1.0.xsd"
       >
       
  <bean class="ch.i4ds.helio.ApplicationContextProvider" />
  
  <wss:binding url="/services/hec">
  	<wss:service>
			<ws:service bean="#HEC" />
		</wss:service>
	</wss:binding>
  <bean id="HEC" class="ch.i4ds.helio.dpas.HEC" />
  
  <bean id="TavernaExecutor" class="ch.i4ds.helio.core.TavernaExecutor" />
  
  
  <!-- 
  	frontend-facing facade
 	-->
  <wss:binding url="/services/frontend">
  	<wss:service>
			<ws:service bean="#FrontendFacade" />
		</wss:service>
	</wss:binding>
  <bean id="FrontendFacade" class="ch.i4ds.helio.core.FrontendFacade">
  	<property name="taverna" ref="TavernaExecutor" />
  	<property name="queryService" ref="QueryService" />
  </bean>
  
  
  <!--
  	list of all data providers
 	-->
  <bean id="DPAS-Hessi" class="ch.i4ds.helio.dpas.sources.Hessi" />
  <bean id="DPAS-Phoenix2" class="ch.i4ds.helio.dpas.sources.Phoenix2" />
  <bean id="EC-Hessi" class="ch.i4ds.helio.dpas.HessiEC" />
  
  <!--
  	query facade for all data providers
  -->
	<bean id="QueryService" class="ch.i4ds.helio.dpas.QueryService">
  	<property name="dataProviders">
  		<map>
  			<entry key="hessi" value-ref="DPAS-Hessi" />
  			<entry key="phoenix2" value-ref="DPAS-Phoenix2" />
  			<entry key="hessi-ec" value-ref="EC-Hessi" />
  		</map>
  	</property>
  </bean>
</beans>
