<?xml version="1.0" encoding="UTF-8"?>
<!-- glassfish doesn't like xsd's over https. don't change http:// to https:// -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://jax-ws.dev.java.net/spring/core http://jax-ws.dev.java.net/spring/core.xsd
       http://jax-ws.dev.java.net/spring/servlet http://jax-ws.dev.java.net/spring/servlet.xsd
       http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-1.0.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xmlns:si="http://www.springframework.org/schema/integration">

  <bean class="ch.i4ds.helio.core.ApplicationContextProvider" />
  
  
  <wss:binding url="/services/testWF" service="#testWF"/>
	<ws:service id="testWF" bean="#TavernaExecutor" />
  <bean id="TavernaExecutor" class="ch.i4ds.helio.core.TavernaExecutor" />
  
</beans>
